
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/between.css" type="text/css">
</head>

<body>
  <section class="banner">
    {{>navbar}}
    <svg class="wave"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#283618" fill-opacity="1" d="M0,224L40,202.7C80,181,160,139,240,144C320,149,400,203,480,186.7C560,171,640,85,720,85.3C800,85,880,171,960,218.7C1040,267,1120,277,1200,240C1280,203,1360,117,1400,74.7L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
  </section>
  <h2>What to find how to spell<br>&nbsp your name? come here!</h2>
  
  <div class="image">
    
  </div>
  <h1>To translate words and sentences try this!</h1>
  <div class="image1">
    
  </div>
  <img src="../images2/c1.png" alt=""class="image3">
  <img src="../images2/m1.png" alt=""class="image4">
  <img src="../images2/k1.png" alt=""class="image5">
  <img src="../images2/j1.png" alt=""class="image6">
    <div class="container">
      <div class="row">
        <div class="col-3">
            <div class="card a" >
                <img src="../images2/card1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Figerspell</h5>
                  <p class="card-text">It is generally used to translate name and unofficial english words</p>
                  <a href="/namesearch" class="btn btn-primary">Translate</a>
                </div>
              </div>
        </div>
        
        <div class="col-3">
            <div class="card b" >
              <img src="../images2/card2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Word/sentence</h5>
                <p class="card-text">this translater translates the english words into hand signs </p>
                <a href="/wordsearch" class="btn btn-primary">Translate</a>
              </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
    