<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sahayak</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/css.css">

</head>
<body>
 {{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sahayak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"d>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/between">Translate</a>
        </li>
       
          
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>  --}}
     {{>navbar}} 

<div class="image">
</div> 
<div class="image2"></div>
<!-- <p class="text">choose from the given modules</p> -->
<p>
  <h1>Sahayak</h1>
</p>
<div class="hi">
  <p><b>Welcome {{username}}{{score}}</b></p>
</div>
    <div class="container">
      <span class="a">

        <a href="/between">
          <button class="btnn btn1">text_to_sign</button>
        </a>
        </span>
        <span class="b">
        <a href="/card">
          <button class="btnn btn2">learn basic alphabets</button>
        </a>
    </span>
    <span class="c">
        <a href="/card2">
          <button class="btnn btn3">learn basic vocabularies</button>
        </a>
    </span>
    <span class="d">
      <a href="/quiz">
        <button class="btnn btn4">take a quiz</button>
      </a>
      </span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>