<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quiz</title>
    <link rel="stylesheet" href="css/style2.css" />
  </head>

  <body>

    <div class="quiz-section" id="hg">
      <h2>Q)What is the meaning of the sign below:-</h2>
      <div class="box">
        <center id="box">
          {{! <img class="question" id="question" src="images/blueberry.png"> }}
        </center>
        
      </div>

      <div class="quiz">
        <hr />
        <ul>
          <li>
            <input type="radio" class="answer" id="a" name="answer" />
            <label for="a" id="option_1">quiz option</label>
          </li>
          <li>
            <input type="radio" class="answer" id="b" name="answer" />
            <label for="b" id="option_2">quiz option</label>
          </li>
          <li>
            <input type="radio" class="answer" id="c" name="answer" />
            <label for="c" id="option_3">quiz option</label>
          </li>
          <li>
            <input type="radio" class="answer" id="d" name="answer" />
            <label for="d" id="option_4">quiz option</label>
          </li>
        </ul>
      </div>
      <hr />
      <div class="btn">
        
        <button type="submit" class="btn1">submit</button>
      </div>
    </div>
    
    <script src="js/quiz.js"></script>
  </body>

</html>