<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css ">

</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="input_bx">
                <input type="text"  name="name" id="name" value="" required>
                <span></span>
                <label for="">Name</label>
                <i class="fa-solid fa-lock"></i>
            </div> 
            <div class="input_bx">
                <input type="text" name="email" id="email" value="" required>
                <span></span>
                <label for="">Email</label>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input_bx">
                <input type="number"  name="phone" id="phone" value="" required>
                <span></span>
                <label for="">phone</label>
                <i class="fa-solid fa-lock"></i>
            </div> 
            <div class="input_bx">
                <input type="password"  name="password" id="password" value="" required>
                <span></span>
                <label for="">Password</label>
                <i class="fa-solid fa-lock"></i>
            </div> 
            <div class="input_bx">
                <input type="password"  name="cpassword" id="cpassword" value="" required>
                <span></span>
                <label for="">Confirm Password</label>
                <i class="fa-solid fa-lock"></i>
            </div> 
            
            <div class="cache-bx">
                <div class="remember-bx">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="#">forgot password</a>
            </div>
            <button>Register</button>
            <p>Have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html>